<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A História</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo_fisl.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">A ideia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A ideia de criar uma organização prestadora de serviços de TI nasceu na palestra ministrada por Paulino Michelazzo no FISL 10 - Criando e Sustentando uma Empresa Livre.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo_sebrae.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010</h4>
                                    <h4 class="subheading">Nascimento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Foi no SOLISC - Congresso Catarinense Software Livre em parceira com o SEBRAE numa rodada de negócios que a freehammer - consulting & associates foi apresentada.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo_mfazenda.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dezembro de 2010</h4>
                                    <h4 class="subheading">Implantação e Treinamento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Superintendência do Ministério da Fazendo de Santa Catarina, que participou da Rodada de Negócios no SOLISC, buscava uma empresa para capacitar os seus servidores. Foi então fechada a parceria e iniciado o projeto de implantação e o treinamento do Sistema Operacional Ubuntu e da Suíte de Escritório BrOffice.org.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/box-knockout-ali.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">O ciclo de vida se encerra</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">No dia 10 de dezembro a empresa encerra sua participação na oferta de serviço no mercado brasileiro.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
