<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Fornecedores</h2>
                  <h3 class="section-subheading text-muted"></h3>
              </div>
          </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://setpoint.inf.br">
                        <img src="img/logos/setpoint.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.canonical.com/">
                        <img src="img/logos/canonical.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://pt.wikipedia.org/wiki/BrOffice">
                        <img src="img/logos/broffice.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.debian.org/">
                        <img src="img/logos/debian.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
