<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Oferecemos serviços de TI</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoria</h4>
                    <p class="text-muted">Em implantação de software Open Source, migração para plataformas abertas e gerenciamento de projetos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Treinamento</h4>
                    <p class="text-muted">Suíte de Escritório BrOffice, sistema operacional GNU/Linux nas distribuições Debian e Ubuntu e no software livre de gestão empresarial FreedomERP.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ticket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Suporte</h4>
                    <p class="text-muted">Suporte no modelo SLA (Service Level Agreement), dividido em duas categorias: 24hs/7dias e 8hs/5dias – suporte em horário comercial.</p>
                </div>
            </div>
        </div>
    </section>
